doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="vendor/jquery/jquery.js")
    script(type='text/javascript', src="vendor/react/react.js")
    script(type='text/javascript', src="vendor/react/JSXTransformer.js")
  body
    block content
